//Home Slider and Big news blocks 
.container
  .main-news-blks
    .hm-slider-cont
      //
         News slider 
      .flex-container
        .flexslider.hm-slider
          ul.slides
            each article in sliderArticles
              li
                img(alt='', src='#{article.image.link}')
                h3.cat-label.cat-label1
                  a(href='#') NEWS
                .hm-sldr-caption
                  h3
                    a(href='/article/#{article.slug}')= article.title
                      span.topic-icn 17
    //
       Fixed Blocks 
    .mid-blks-cont
      //
         Block1 
      .mid-block-1.boxgrid.caption
        img(alt='', src='#{blockArticles[0].image.link}')
        .cover.boxcaption
          h3
            a(href='/article/#{blockArticles[0].slug}') #{blockArticles[0].title}
          a(href='/article/#{blockArticles[0].slug}')
            | MORE
            i.fa.fa-angle-double-right
      //
         Block2 
      .mid-block-2.boxgrid.caption
        img(alt='', src='#{blockArticles[1].image.link}')
        .cover.boxcaption
          h3
            a(href='/article/#{blockArticles[1].slug}') #{blockArticles[1].title}
          a(href='/article/#{blockArticles[1].slug}')
            | MORE
            i.fa.fa-angle-double-right
    //
       Block3 
    .rt-bk-cont
      .rt-block.boxgrid2.caption
        img(alt='', src='#{blockArticles[2].image.link}')
        .cover.boxcaption2
          h3
            a(href='/article/#{blockArticles[2].slug}') #{blockArticles[2].title}
          a(href='/article/#{blockArticles[2].slug}')
            | MORE
            i.fa.fa-angle-double-right
