extends layout

block content
  include home-slider.jade
  .container
    .main-left-side
      //
       Top News Section 
      .top-news.float-width
        .float-width.sec-cont
          h3.sec-title Top news
          .top-big-two
            .big-two-1.blocky.boxgrid3.caption
              img(alt='', src='#{topNews[0].image.link}')
              .cover.boxcaption3
                h3
                  a(href='/article/#{topNews[0].slug}') #{topNews[0].title}
            .big-two-2.blocky.boxgrid3.caption
              img(alt='', src='#{topNews[1].image.link}')
              .cover.boxcaption3
                h3
                  a(href='/articles/#{topNews[1].slug}') #{topNews[1].title}
        .tn-small-1.blocky
          a(href='/article/#{topNews[2].slug}')
            img.lefty(alt='', src='#{topNews[2].image.link}')
          h4.lefty= topNews[2].title
        .tn-small-1.blocky
          a(href='/article/#{topNews[3].slug}')
            img.lefty(alt='', src='#{topNews[3].image.link}')
          h4.lefty= topNews[3].title
        .tn-small-1.blocky
          a(href='/article/#{topNews[4].slug}')
            img.lefty(alt='', src='#{topNews[4].image.link}')
          h4.lefty= topNews[4].title
        .tn-small-1.blocky
          a(href='/article/#{topNews[5].slug}')
            img.lefty(alt='', src='#{topNews[5].image.link}')
          h4.lefty= topNews[5].title
    include main-right-side.jade
    
