.main-right-side
    //
       Trending news right 
    .trending.lefty
      h3.sec-title TRENDING
      .trend-1
        a(href='/article/#{rightArticles[0].slug}')
          img(alt='', src='#{rightArticles[0].image.link}')
        .trend-2
          h3
            a(href='/article/#{rightArticles[0].slug}') #{rightArticles[0].title}
      .float-width
        .trend-sm.float-width
          a(href='/article/#{rightArticles[1].slug}')
            img.lefty(alt='', src='#{rightArticles[1].image.link}')
          h4.lefty #{rightArticles[1].title}
        .trend-sm.float-width
          a(href='/article/#{rightArticles[2].slug}')
            img.lefty(alt='', src='#{rightArticles[2].image.link}')
          h4.lefty #{rightArticles[2].title}
        .trend-sm.float-width
          a(href='/article/#{rightArticles[3].slug}')
            img.lefty(alt='', src='#{rightArticles[3].image.link}')
          h4.lefty #{rightArticles[3].title}
        
    //
       News letter subscription 
    .subscribe.lefty
      h3.sec-title NEWSLETTER
      h6
        | Subscribe to our newsletter and be first to know about new game, music and movie releases.
      form(role='form')
        .form-group
          input.lefty(type='text', placeholder='Enter your email adress and hit enter')
          a.lefty.trans1(href='#', type='submit') save
    
    //
       Ad banner right 
    .lefty.ad-rt
      script(async='async', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      ins.adsbygoogle(style='display: inline-block; width: 300px; height: 250px;', data-ad-client='ca-pub-3711512461711533', data-ad-slot='8725608512')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});

